.LanguageSelector {
}

@media (min-width: 740px) {
    .LanguageSelector {
        margin: 30px;
        border: none;
        background: none;
        appearance: none;
        color: #24377A;
    }
}