.Invalid::placeholder {
    color: rgb(178, 32, 40);
}

.LabeledPasswordInput {
    margin: 10px 0;
}

.LabeledPasswordInput label {
    font-size: 14px;
    font-weight: normal;
    color: #8083A3;
}

.LabeledPasswordInput input {
    display: inline-block;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 500;
    color: #1A1C1D;

    width: 100%;
    margin: 0;
    padding: 16px 0;

    border: none;
    border-bottom: 1px solid #ECEEF5;

    position: relative;
    background: transparent;
}

.LabeledPasswordInput input:focus {
    outline: none;
}

.LabeledPasswordInput input::placeholder {
    color: #8083A3;
}

.IconPasswordInput {
    text-align: center;
    position: relative;
    margin: auto;
}

.LabeledPasswordInput .IconPasswordInput i {
    position: absolute;
    padding: 0;
    top: 50%;
    right: 0;
    font-size: x-large;
    transform: translateY(-50%);
    z-index: 100;
}

.Error {
    text-align: center;
}

.Error p {
    color: #d02129;
}